In [1]:
import pandas as pd
import os

In [2]:
# Dataset path
data_path = r"D:\Portfolio Projects\Ecommerce\Data"

In [3]:
# dictionary of dataset filenames
files = {
    "customers": "olist_customers_dataset.csv",
    "orders": "olist_orders_dataset.csv",
    "order_items": "olist_order_items_dataset.csv",
    "products": "olist_products_dataset.csv",
    "sellers": "olist_sellers_dataset.csv",
    "payments": "olist_order_payments_dataset.csv",
    "reviews": "olist_order_reviews_dataset.csv",
    "geolocation": "olist_geolocation_dataset.csv",
    "product_translation": "product_category_name_translation.csv"
}

In [4]:
# load all datasets into dictionary of DataFrames
dfs = {}
for name, file in files.items():
    file_path = os.path.join(data_path, file)
    dfs[name] = pd.read_csv(file_path)
    print(f"{name} loaded : {dfs[name].shape[0]} rows, {dfs[name].shape[1]} columns")

customers loaded : 99441 rows, 5 columns
orders loaded : 99441 rows, 8 columns
order_items loaded : 112650 rows, 7 columns
products loaded : 32951 rows, 9 columns
sellers loaded : 3095 rows, 4 columns
payments loaded : 103886 rows, 5 columns
reviews loaded : 99224 rows, 7 columns
geolocation loaded : 1000163 rows, 5 columns
product_translation loaded : 71 rows, 2 columns

In [5]:
# 1. Customers
customers = dfs["customers"].copy()
customers.drop_duplicates(inplace=True)
print("Customers cleaned:", customers.shape)
customers.head()

Customers cleaned: (99441, 5)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [6]:
# 2. Orders
orders = dfs["orders"].copy()

print("ORDERS - Sanity Checks")
print("Dtypes:\n", orders.dtypes)  # Data types of columns
print("Nulls per column:\n", orders.isnull().sum())
print("Describe:\n", orders.describe(include='all'))  # Basic stats for numeric & object columns
print("Duplicates:", orders.duplicated().sum())

ORDERS - Sanity Checks
Dtypes:
 order_id                         object
customer_id                      object
order_status                     object
order_purchase_timestamp         object
order_approved_at                object
order_delivered_carrier_date     object
order_delivered_customer_date    object
order_estimated_delivery_date    object
dtype: object
Nulls per column:
 order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64
Describe:
                                 order_id                       customer_id  \
count                              99441                             99441
unique                             99441                             99441
top     e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d
freq                                   1                                 1

       order_status order_purchase_timestamp    order_approved_at  \
count         99441                    99441                99281
unique            8                    98875                90733
top       delivered      2018-04-11 10:48:14  2018-02-27 04:31:10
freq          96478                        3                    9

       order_delivered_carrier_date order_delivered_customer_date  \
count                         97658                         96476
unique                        81018                         95664
top             2018-05-09 15:48:00           2018-05-08 23:38:46
freq                             47                             3

       order_estimated_delivery_date
count                          99441
unique                           459
top              2017-12-20 00:00:00
freq                             522
Duplicates: 0

In [7]:
# Orders data cleaning
orders.drop_duplicates(inplace=True)
# Convert date columns to datetime
date_cols = ["order_purchase_timestamp", "order_approved_at", 
             "order_delivered_carrier_date", "order_delivered_customer_date", 
             "order_estimated_delivery_date"]
for col in date_cols:
    orders[col] = pd.to_datetime(orders[col], errors="coerce")
print("Orders cleaned:", orders.shape)
print("Dtypes:\n", orders.dtypes)

Orders cleaned: (99441, 8)
Dtypes:
 order_id                                 object
customer_id                              object
order_status                             object
order_purchase_timestamp         datetime64[ns]
order_approved_at                datetime64[ns]
order_delivered_carrier_date     datetime64[ns]
order_delivered_customer_date    datetime64[ns]
order_estimated_delivery_date    datetime64[ns]
dtype: object

In [8]:
orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26

In [9]:
# 3. Order Items
order_items = dfs["order_items"].copy()
print("ORDER ITEMS - Sanity Checks")
print("Shape:", order_items.shape)
print("Dtypes:\n", order_items.dtypes)
print("Nulls per column:\n", order_items.isnull().sum())
print("Describe:\n", order_items.describe())
print("Duplicates:", order_items.duplicated().sum())

ORDER ITEMS - Sanity Checks
Shape: (112650, 7)
Dtypes:
 order_id                object
order_item_id            int64
product_id              object
seller_id               object
shipping_limit_date     object
price                  float64
freight_value          float64
dtype: object
Nulls per column:
 order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64
Describe:
        order_item_id          price  freight_value
count  112650.000000  112650.000000  112650.000000
mean        1.197834     120.653739      19.990320
std         0.705124     183.633928      15.806405
min         1.000000       0.850000       0.000000
25%         1.000000      39.900000      13.080000
50%         1.000000      74.990000      16.260000
75%         1.000000     134.900000      21.150000
max        21.000000    6735.000000     409.680000
Duplicates: 0

In [10]:
# Order items data cleaning
order_items.drop_duplicates(subset=["order_id", "order_item_id"], inplace=True)

if "shipping_limit_date" in order_items.columns:
    order_items["shipping_limit_date"] = pd.to_datetime(order_items["shipping_limit_date"], errors="coerce")
    
for col in ["price", "freight_value"]:
    if col in order_items.columns:
        order_items[col] = pd.to_numeric(order_items[col], errors="coerce").fillna(0.0)
order_items["order_id"] = order_items["order_id"].astype(str)
print("Order Items cleaned:", order_items.shape)
print("Order Items datatype:", order_items.dtypes)

Order Items cleaned: (112650, 7)
Order Items datatype: order_id                       object
order_item_id                   int64
product_id                     object
seller_id                      object
shipping_limit_date    datetime64[ns]
price                         float64
freight_value                 float64
dtype: object

In [11]:
order_items.groupby('order_id')['order_item_id'].sum().sort_values(ascending = False)

order_id
8272b63d03f5f79c56e9e4120aec44ef    231
1b15974a0141d54e36626dca3fdc731a    210
ab14fdcfbe524636d65ee38360e22ce8    210
9ef13efd6949e4573a18964dd1bbe7f5    120
428a2f660dc84138d969ccd69a0ab6d5    120
                                   ...
5a0911d70c1f85d3bed0df1bf693a6dd      1
5a082b558a3798d3e36d93bfa8ca1eae      1
5a07264682e0b8fbb3f166edbbffc6e8      1
5a071192a28951b76774e5a760c8c9b7      1
fffe41c64501cc87c801fd61db3f6244      1
Name: order_item_id, Length: 98666, dtype: int64

In [12]:
# 4. Payments
payments = dfs["payments"].copy()
print("PAYMENTS - Sanity Checks")

print("Shape:", payments.shape)
print("Dtypes:\n", payments.dtypes)
print("Nulls per column:\n", payments.isnull().sum())
print("Describe:\n", payments.describe())
print("Duplicates:", payments.duplicated().sum())

PAYMENTS - Sanity Checks
Shape: (103886, 5)
Dtypes:
 order_id                 object
payment_sequential        int64
payment_type             object
payment_installments      int64
payment_value           float64
dtype: object
Nulls per column:
 order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64
Describe:
        payment_sequential  payment_installments  payment_value
count       103886.000000         103886.000000  103886.000000
mean             1.092679              2.853349     154.100380
std              0.706584              2.687051     217.494064
min              1.000000              0.000000       0.000000
25%              1.000000              1.000000      56.790000
50%              1.000000              1.000000     100.000000
75%              1.000000              4.000000     171.837500
max             29.000000             24.000000   13664.080000
Duplicates: 0

In [13]:
payments.drop_duplicates(inplace=True)

if "payment_value" in payments.columns:
    payments["payment_value"] = pd.to_numeric(payments["payment_value"], errors="coerce").fillna(0.0)
payments["order_id"] = payments["order_id"].astype(str)
print("Payments cleaned:", payments.shape)
payments.head()

Payments cleaned: (103886, 5)

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [14]:
# 5. Reviews
reviews = dfs["reviews"].copy()
print("REVIEWS - Sanity Checks")
print("Shape:", reviews.shape)
print("Dtypes:\n", reviews.dtypes)
print("Nulls per column:\n", reviews.isnull().sum())
print("Describe:\n", reviews.describe())
print("Duplicates:", reviews.duplicated().sum())

REVIEWS - Sanity Checks
Shape: (99224, 7)
Dtypes:
 review_id                  object
order_id                   object
review_score                int64
review_comment_title       object
review_comment_message     object
review_creation_date       object
review_answer_timestamp    object
dtype: object
Nulls per column:
 review_id                      0
order_id                       0
review_score                   0
review_comment_title       87656
review_comment_message     58247
review_creation_date           0
review_answer_timestamp        0
dtype: int64
Describe:
        review_score
count  99224.000000
mean       4.086421
std        1.347579
min        1.000000
25%        4.000000
50%        5.000000
75%        5.000000
max        5.000000
Duplicates: 0

In [15]:
# review data cleaning
reviews.drop_duplicates(inplace=True)
for col in ["review_creation_date", "review_answer_timestamp"]:
    if col in reviews.columns:
        reviews[col] = pd.to_datetime(reviews[col], errors="coerce")

reviews["order_id"] = reviews["order_id"].astype(str)
print("Reviews cleaned:", reviews.shape)
reviews.head()

Reviews cleaned: (99224, 7)

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01,2018-03-02 10:26:53

In [16]:
# 7. Products
products = dfs["products"].copy()
print("PRODUCTS - Sanity Checks")
print("Shape:", products.shape)
print("Dtypes:\n", products.dtypes)
print("Nulls per column:\n", products.isnull().sum())
print("Describe:\n", products.describe(include='all'))
print("Duplicates:", products.duplicated().sum())

PRODUCTS - Sanity Checks
Shape: (32951, 9)
Dtypes:
 product_id                     object
product_category_name          object
product_name_lenght           float64
product_description_lenght    float64
product_photos_qty            float64
product_weight_g              float64
product_length_cm             float64
product_height_cm             float64
product_width_cm              float64
dtype: object
Nulls per column:
 product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64
Describe:
                               product_id product_category_name  \
count                              32951                 32341
unique                             32951                    73
top     1e9e8ef04dbcff4541ed26657ea517e5       cama_mesa_banho
freq                                   1                  3029
mean                                 NaN                   NaN
std                                  NaN                   NaN
min                                  NaN                   NaN
25%                                  NaN                   NaN
50%                                  NaN                   NaN
75%                                  NaN                   NaN
max                                  NaN                   NaN

        product_name_lenght  product_description_lenght  product_photos_qty  \
count          32341.000000                32341.000000        32341.000000
unique                  NaN                         NaN                 NaN
top                     NaN                         NaN                 NaN
freq                    NaN                         NaN                 NaN
mean              48.476949                  771.495285            2.188986
std               10.245741                  635.115225            1.736766
min                5.000000                    4.000000            1.000000
25%               42.000000                  339.000000            1.000000
50%               51.000000                  595.000000            1.000000
75%               57.000000                  972.000000            3.000000
max               76.000000                 3992.000000           20.000000

        product_weight_g  product_length_cm  product_height_cm  \
count       32949.000000       32949.000000       32949.000000
unique               NaN                NaN                NaN
top                  NaN                NaN                NaN
freq                 NaN                NaN                NaN
mean         2276.472488          30.815078          16.937661
std          4282.038731          16.914458          13.637554
min             0.000000           7.000000           2.000000
25%           300.000000          18.000000           8.000000
50%           700.000000          25.000000          13.000000
75%          1900.000000          38.000000          21.000000
max         40425.000000         105.000000         105.000000

        product_width_cm
count       32949.000000
unique               NaN
top                  NaN
freq                 NaN
mean           23.196728
std            12.079047
min             6.000000
25%            15.000000
50%            20.000000
75%            30.000000
max           118.000000
Duplicates: 0

In [17]:
# Products data cleaning
products.drop_duplicates(subset="product_id", inplace=True)
if "product_category_name" in products.columns:
    products["product_category_name"] = products["product_category_name"].str.strip().str.lower()
products.head()
# cat_trans = dfs.get("cat_trans")
# if cat_trans is not None and "product_category_name" in products.columns:
#     products = products.merge(cat_trans, on="product_category_name", how="left")
# print("Products cleaned:", products.shape)

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [18]:
# 8. Category Translation
cat_trans = dfs["product_translation"]
cat_trans.head()

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

In [19]:
# Join product translation with products to get the products name in english
products = products.merge(cat_trans, on="product_category_name", how="left")
print("Products cleaned:", products.shape)
products.head()

Products cleaned: (32951, 10)

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_name_english
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0,perfumery
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0,art
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0,sports_leisure
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0,baby
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0,housewares

In [20]:
# 9. Sellers
sellers = dfs["sellers"].copy()
print("SELLERS - Sanity Checks")
print("Shape:", sellers.shape)
print("Dtypes:\n", sellers.dtypes)
print("Nulls per column:\n", sellers.isnull().sum())
print("Describe:\n", sellers.describe(include='all'))
print("Duplicates:", sellers.duplicated().sum())

SELLERS - Sanity Checks
Shape: (3095, 4)
Dtypes:
 seller_id                 object
seller_zip_code_prefix     int64
seller_city               object
seller_state              object
dtype: object
Nulls per column:
 seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64
Describe:
                                seller_id  seller_zip_code_prefix seller_city  \
count                               3095             3095.000000        3095
unique                              3095                     NaN         611
top     3442f8959a84dea7ee197c632cb2df15                     NaN   sao paulo
freq                                   1                     NaN         694
mean                                 NaN            32291.059451         NaN
std                                  NaN            32713.453830         NaN
min                                  NaN             1001.000000         NaN
25%                                  NaN             7093.500000         NaN
50%                                  NaN            14940.000000         NaN
75%                                  NaN            64552.500000         NaN
max                                  NaN            99730.000000         NaN

       seller_state
count          3095
unique           23
top              SP
freq           1849
mean            NaN
std             NaN
min             NaN
25%             NaN
50%             NaN
75%             NaN
max             NaN
Duplicates: 0

In [21]:

sellers.drop_duplicates(subset="seller_id", inplace=True)
if "seller_city" in sellers.columns:
    sellers["seller_city"] = sellers["seller_city"].str.strip().str.upper()
print("Sellers cleaned:", sellers.shape)
sellers.head()

Sellers cleaned: (3095, 4)

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,CAMPINAS,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,MOGI GUACU,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,RIO DE JANEIRO,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,SAO PAULO,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,BRAGANCA PAULISTA,SP

In [22]:
geolocation = dfs["geolocation"].copy()
print("GEOLOCATION - Sanity Checks")

print("Shape:", geolocation.shape)
print("Dtypes:\n", geolocation.dtypes)
print("Nulls per column:\n", geolocation.isnull().sum())
print("Describe:\n", geolocation.describe(include='all'))
print("Duplicates:", geolocation.duplicated().sum())

GEOLOCATION - Sanity Checks
Shape: (1000163, 5)
Dtypes:
 geolocation_zip_code_prefix      int64
geolocation_lat                float64
geolocation_lng                float64
geolocation_city                object
geolocation_state               object
dtype: object
Nulls per column:
 geolocation_zip_code_prefix    0
geolocation_lat                0
geolocation_lng                0
geolocation_city               0
geolocation_state              0
dtype: int64
Describe:
         geolocation_zip_code_prefix  geolocation_lat  geolocation_lng  \
count                  1.000163e+06     1.000163e+06     1.000163e+06
unique                          NaN              NaN              NaN
top                             NaN              NaN              NaN
freq                            NaN              NaN              NaN
mean                   3.657417e+04    -2.117615e+01    -4.639054e+01
std                    3.054934e+04     5.715866e+00     4.269748e+00
min                    1.001000e+03    -3.660537e+01    -1.014668e+02
25%                    1.107500e+04    -2.360355e+01    -4.857317e+01
50%                    2.653000e+04    -2.291938e+01    -4.663788e+01
75%                    6.350400e+04    -1.997962e+01    -4.376771e+01
max                    9.999000e+04     4.506593e+01     1.211054e+02

       geolocation_city geolocation_state
count           1000163           1000163
unique             8011                27
top           sao paulo                SP
freq             135800            404268
mean                NaN               NaN
std                 NaN               NaN
min                 NaN               NaN
25%                 NaN               NaN
50%                 NaN               NaN
75%                 NaN               NaN
max                 NaN               NaN
Duplicates: 261831

In [23]:
geolocation["geolocation_city"] = geolocation["geolocation_city"].str.strip().str.upper()
geolocation.head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,SAO PAULO,SP
1,1046,-23.546081,-46.644820,SAO PAULO,SP
2,1046,-23.546129,-46.642951,SAO PAULO,SP
3,1041,-23.544392,-46.639499,SAO PAULO,SP
4,1035,-23.541578,-46.641607,SAO PAULO,SP

In [24]:
unique_cities = geolocation['geolocation_city'].unique()
print(unique_cities.tolist())

['SAO PAULO', 'SÃO PAULO', 'SAO BERNARDO DO CAMPO', 'JUNDIAÍ', 'TABOÃO DA SERRA', 'SÃOPAULO', 'SP', 'SA£O PAULO', 'SAO JOSE DOS CAMPOS', 'OSASCO', 'CARAPICUÍBA', 'CARAPICUIBA', 'BARUERI', 'SANTANA DE PARNAIBA', 'PIRAPORA DO BOM JESUS', 'SANTANA DE PARNAÍBA', 'JANDIRA', 'ITAPEVI', 'COTIA', 'TABOAO DA SERRA', 'VARGEM GRANDE PAULISTA', 'EMBU DAS ARTES', 'ITAPECERICA DA SERRA', 'EMBU', 'SÃO LOURENÇO DA SERRA', 'SAO LOURENCO DA SERRA', 'EMBU-GUACU', 'EMBU-GUAÇU', 'EMBU GUAÇU', 'JUQUITIBA', 'EMBU GUACU', 'EMBUGUACU', 'GUARULHOS', 'ADAMANTINA', 'GUARULHOS-SP', 'ARUJA', 'ARUJÁ', 'SANTA ISABEL', 'MAIRIPORA', 'MAIRIPORÃ', 'CAJAMAR', 'CAIEIRAS', 'JORDANESIA', 'POLVILHO', 'MAUÁ', 'JORDANÉSIA', 'FRANCO DA ROCHA', 'FRANCISCO MORATO', 'POA', 'ITAQUAQUECETUBA', 'FERRAZ DE VASCONCELOS', 'POÁ', 'SUZANO', 'MOGI DAS CRUZES', 'MOGIDASCRUZES', 'SALESOPOLIS', 'BIRITIBA-MIRIM', 'GUARAREMA', 'SALESÓPOLIS', 'BIRITIBA MIRIM', 'SANTO ANDRE', 'SANTO ANDRÉ', 'MAUA', 'RIBEIRÃO PIRES', 'RIBEIRAO PIRES', 'RIO GRANDE DA SERRA', 'SAO CAETANO DO SUL', 'SÃO CAETANO DO SUL', 'SÃO BERNARDO DO CAMPO', 'SBCAMPO', 'DIADEMA', 'SANTOS', 'BERTIOGA', 'CARUARA', 'SAO VICENTE', 'SÃO VICENTE', 'GUARUJÁ', 'GUARUJA', 'CUBATAO', 'CUBATÃO', 'SAO SEBASTIAO', 'UBATUBA', 'ILHABELA', 'CARAGUATATUBA', 'SÃO SEBASTIÃO', 'MARESIAS', 'SAO FRANCISCO DA PRAIA', 'SÃO FRANCISCO DA PRAIA', 'MONGAGUA', 'PRAIA GRANDE', 'MONGAGUÁ', 'ITANHAEM', 'PERUIBE', 'ITARIRI', 'PEDRO DE TOLEDO', 'ITANHAÉM', 'PERUÍBE', 'ANA DIAS', 'MIRACATU', 'JUQUIA', 'JUQUIÁ', 'PARIQUERA-ACU', 'CAJATI', 'REGISTRO', 'JACUPIRANGA', 'ILHA COMPRIDA', 'BARRA DO TURVO', 'ELDORADO', 'IGUAPE', 'CANANÉIA', 'CANANEIA', 'SETE BARRAS', 'PARIQUERA-AÇU', 'TAUBATE', 'TAUBATÉ', 'NATIVIDADE DA SERRA', 'TREMEMBE', 'LAGOINHA', 'TREMEMBÉ', 'REDENCAO DA SERRA', 'CATUCABA', 'SAO LUIZ DO PARAITINGA', 'SAO LUIS DO PARAITINGA', 'SÃO LUIZ DO PARAITINGA', 'SÃO JOSÉ DOS CAMPOS', 'CACAPAVA', 'PARAIBUNA', 'CAÇAPAVA', 'JAMBEIRO', 'MONTEIRO LOBATO', 'SAO FRANCISCO XAVIER', 'SÃO FRANCISCO XAVIER', 'JACAREI', 'JACAREÍ', 'SANTA BRANCA', 'IGARATA', 'IGARATÁ', 'PINDAMONHANGABA', 'SÃO BENTO DO SAPUCAÍ', 'CAMPOS DO JORDAO', 'SAO BENTO DO SAPUCAI', 'SANTO ANTONIO DO PINHAL', 'CAMPOS DO JORDÃO', 'SANTO ANTÔNIO DO PINHAL', 'GUARATINGUETA', 'POTIM', 'GUARATINGUETÁ', 'APARECIDA', 'CUNHA', 'ROSEIRA', 'CAMPOS DE CUNHA', 'LORENA', 'CACHOEIRA PAULISTA', 'PIQUETE', 'SILVEIRAS', 'CANAS', 'CRUZEIRO', 'LAVRINHAS', 'ARAPEÍ', 'QUELUZ', 'ARAPEI', 'BANANAL', 'SAO JOSE DO BARREIRO', 'SÃO JOSÉ DO BARREIRO', 'AREIAS', 'ATIBAIA', 'BRAGANCA PAULISTA', 'BOM JESUS DOS PERDOES', 'PIRACAIA', 'BOM JESUS DOS PERDÕES', 'PEDRA BELA', 'BRAGANÇA PAULISTA', 'JOANOPOLIS', 'VARGEM', 'NAZARÉ PAULISTA', 'NAZARE PAULISTA', 'JOANÓPOLIS', 'PINHALZINHO', 'TUIUTI', 'CAMPINAS', 'ARTUR NOGUEIRA', 'HORTOLANDIA', 'PAULINIA', 'SUMARE', 'COSMOPOLIS', 'MONTE MOR', 'HORTOLÂNDIA', 'SUMARÉ', 'COSMÓPOLIS', 'PAULÍNIA', 'ENGENHEIRO COELHO', 'ITATIBA', 'VINHEDO', 'JUNDIAI', 'VALINHOS', 'VARZEA PAULISTA', 'LOUVEIRA', 'JARINU', 'CAMPO LIMPO PAULISTA', 'MORUNGABA', 'ITUPEVA', 'VÁRZEA PAULISTA', 'INDAIATUBA', 'CAPIVARI', 'SALTO', 'ITU', 'NOVA ODESSA', 'CABREUVA', 'ELIAS FAUSTO', 'RAFARD', 'RIO DAS PEDRAS', 'JACARE', 'CABREÚVA', 'MOMBUCA', 'JACARÉ', 'JACARÉ (CABREÚVA)', 'CARDEAL', 'JACARE (CABREUVA)', 'BOM FIM DO BOM JESUS', 'AMERICANA', 'LIMEIRA', 'PIRACICABA', "SANTA BÁRBARA D'OESTE", "SANTA BARBARA D'OESTE", 'SALTINHO', 'CORDEIROPOLIS', 'IRACEMÁPOLIS', 'IRACEMAPOLIS', 'SANTA BARBARA D OESTE', 'CORDEIRÓPOLIS', 'SANTA BÁRBARA DOESTE', 'SANTA BARBARA DOESTE', 'SANTA BÁRBARA D`OESTE', 'RIO CLARO', 'SAO CARLOS', 'IPEUNA', 'SANTA GERTRUDES', 'ITIRAPINA', 'CHARQUEADA', 'SÃO CARLOS', 'RIBEIRAO BONITO', 'IPEÚNA', 'SAO PEDRO', 'SÃO PEDRO', 'DOURADO', 'CORUMBATAÍ', 'ANALANDIA', 'AGUAS DE SAO PEDRO', 'CORUMBATAI', 'SANTA EUDÓXIA', 'ÁGUAS DE SÃO PEDRO', 'AGUA VERMELHA', 'RIBEIRÃO BONITO', 'ARARAS', 'PIRASSUNUNGA', 'PORTO FERREIRA', 'SANTA CRUZ DAS PALMEIRAS', 'SANTA RITA DO PASSA QUATRO', 'LEME', 'DESCALVADO', 'SANTA CRUZ DA CONCEICAO', 'SANTA CRUZ DA CONCEIÇÃO', 'MOCOCA', 'SÃO JOSÉ DO RIO PARDO', 'SAO JOSE DO RIO PARDO', 'CASA BRANCA', 'CACONDE', 'TAMBAU', 'TAPIRATIBA', 'DIVINOLANDIA', 'SÃO BENEDITO DAS AREIAS', 'ITOBI', 'SAO SEBASTIAO DA GRAMA', 'TAMBAÚ', 'IGARAI', 'SÃO SEBASTIÃO DA GRAMA', 'DIVINOLÂNDIA', 'LAGOA BRANCA', 'SAO BENEDITO DAS AREIAS', 'VENDA BRANCA', 'IGARAÍ', 'JAGUARIUNA', 'VARGEM GRANDE DO SUL', 'MOGI-GUACU', 'SANTO ANTONIO DE POSSE', 'MOGI GUAÇU', 'SANTO ANTÔNIO DE POSSE', 'SAO JOAO DA BOA VISTA', 'MOGI MIRIM', 'JAGUARIÚNA', 'HOLAMBRA', 'AGUAI', 'CONCHAL', 'MOGI GUACU', 'ESTIVA GERBI', 'SÃO JOÃO DA BOA VISTA', 'MOGI-MIRIM', 'AGUAS DA PRATA', 'AGUAÍ', 'MONTE ALEGRE DO SUL', 'ÁGUAS DA PRATA', 'MARTINHO PRADO JUNIOR', 'SAO ROQUE DA FARTURA', 'AMPARO', 'ITAPIRA', 'SOCORRO', 'LINDOIA', 'AGUAS DE LINDOIA', 'PEDREIRA', 'SERRA NEGRA', 'ESPIRITO SANTO DO PINHAL', 'ÁGUAS DE LINDÓIA', 'BARAO ATALIBA NOGUEIRA', 'ESPÍRITO SANTO DO PINHAL', 'BARÃO ATALIBA NOGUEIRA', 'SANTO ANTONIO DO JARDIM', 'SANTO ANTÔNIO DO JARDIM', 'LINDÓIA', 'ELEUTÉRIO', 'ELEUTERIO', 'RIBEIRAO PRETO', 'RIBEIRÃO PRETO', 'SERTÃOZINHO', 'SERTAOZINHO', 'SERRANA', 'PONTAL', 'CRAVINHOS', 'BONFIM PAULISTA', 'GUATAPARÁ', 'DUMONT', 'GUATAPARA', 'CANDIA', 'CAJURU', 'LUIS ANTONIO', 'SAO SIMAO', 'SANTA ROSA DE VITERBO', 'SERRA AZUL', 'LUÍS ANTÔNIO', 'CASSIA DOS COQUEIROS', 'SÃO SIMÃO', 'SANTA CRUZ DA ESPERANCA', 'CÁSSIA DOS COQUEIROS', 'SANTO ANTONIO DA ALEGRIA', 'BRODOWSKI', 'BATATAIS', 'ALTINOPOLIS', 'ALTINÓPOLIS', 'SANTO ANTÔNIO DA ALEGRIA', 'FRANCA', 'JERIQUARA', 'RIFAINA', 'SAO JOSE DA BELA VISTA', 'CRISTAIS PAULISTA', 'PATROCINIO PAULISTA', 'PEDREGULHO', 'ITIRAPUÃ', 'PATROCÍNIO PAULISTA', 'ITIRAPUA', 'RIBEIRAO CORRENTE', 'RESTINGA', 'SÃO JOSÉ DA BELA VISTA', 'RIBEIRÃO CORRENTE', 'FRANCA SP', 'IGARAPAVA', 'ITUVERAVA', 'MIGUELOPOLIS', 'ARAMINA', 'MIGUELÓPOLIS', 'BURITIZAL', 'GUARA', 'GUARÁ', 'SAO BENEDITO DA CACHOEIRINHA', 'PIONEIROS', 'IPUA', 'SAO JOAQUIM DA BARRA', 'MORRO AGUDO', 'ORLANDIA', 'JARDINOPOLIS', 'ORLÂNDIA', 'SÃO JOAQUIM DA BARRA', 'JARDINÓPOLIS', 'IPUÃ', 'SALES OLIVEIRA', 'NUPORANGA', 'JURUCÊ', 'JURUCE', 'BARRETOS', 'BEBEDOURO', 'VIRADOURO', 'GUAIRA', 'COLOMBIA', 'TAIÚVA', 'PITANGUEIRAS', 'GUAÍRA', 'MONTE AZUL PAULISTA', 'COLINA', 'SEVERINIA', 'TAIACU', 'TERRA ROXA', 'TAIUVA', 'IBITIUVA', 'JABORANDI', 'SEVERÍNIA', 'TAQUARAL', 'COLÔMBIA', 'TAIAÇU', 'ARARAQUARA', 'GAVIAO PEIXOTO', 'JABOTICABAL', 'SANTA LUCIA', 'BARRINHA', 'IBATÉ', 'AMERICO BRASILIENSE', 'RINCAO', 'GUARIBA', 'IBATE', 'PRADOPOLIS', 'AMÉRICO BRASILIENSE', 'PRADÓPOLIS', 'RINCÃO', 'MOTUCA', 'GAVIÃO PEIXOTO', 'SANTA LÚCIA', 'IBITINGA', 'ITAPOLIS', 'NOVO HORIZONTE', 'TABATINGA', 'NOVA EUROPA', 'IRAPUA', 'NOVA AMERICA', 'ITÁPOLIS', 'BORBOREMA', 'BOA ESPERANCA DO SUL', 'SALES', 'BOA ESPERANÇA DO SUL', 'TRABIJU', 'IRAPUÃ', 'TAPINAS', 'CURUPA', 'NOVA AMÉRICA', 'SAO JOSE DO RIO PRETO', 'SÃO JOSÉ DO RIO PRETO', 'MIRASSOL', 'MONTE APRAZÍVEL', 'TANABI', 'NEVES PAULISTA', 'JACI', 'BADY BASSITT', 'SEBASTIANOPOLIS DO SUL', 'GUAPIACU', 'NHANDEARA', 'BÁLSAMO', 'POTIRENDABA', 'GUAPIAÇU', 'MONTE APRAZIVEL', 'POLONI', 'BALSAMO', 'MIRASSOLANDIA', 'IPIGUA', 'ENGENHEIRO BALDUÍNO', 'IPIGUÁ', 'ENGENHEIRO BALDUINO', 'SEBASTIANÓPOLIS DO SUL', 'MIRASSOLÂNDIA', 'UNIAO PAULISTA', 'JOSE BONIFACIO', 'BURITAMA', 'JOSÉ BONIFÁCIO', 'TURIUBA', 'MACAUBAL', 'MENDONCA', 'NIPOA', 'ADOLFO', 'MONCOES', 'PLANALTO', 'TURIÚBA', 'ZACARIAS', 'UBARANA', 'MONÇÕES', 'NOVA ALIANCA', 'NOVA ALIANÇA', 'MENDONÇA', 'NOVA ITAPIREMA', 'LOURDES', 'NIPOÃ', 'UNIÃO PAULISTA', 'PEREIRA BARRETO', 'ILHA SOLTEIRA', 'ITAPURA', 'GENERAL SALGADO', 'AURIFLAMA', 'MAGDA', 'FLOREAL', 'GASTAO VIDIGAL', 'NOVA LUZITANIA', 'SAO JOAO DE IRACEMA', 'SUZANAPOLIS', 'SUD MENNUCCI', 'GUZOLANDIA', 'SÃO JOÃO DE IRACEMA', 'GASTÃO VIDIGAL', 'SUZANÁPOLIS', 'GUZOLÂNDIA', 'NOVA CASTILHO', 'MÁGDA', "BANDEIRANTES D'OESTE", 'PAULO DE FARIA', 'OLIMPIA', 'RIOLÂNDIA', 'ICEM', 'RIOLANDIA', 'NOVA GRANADA', 'PALESTINA', 'ONDA VERDE', 'GUARACI', 'ORINDIUVA', 'OLÍMPIA', 'ALTAIR', 'CAJOBI', 'EMBAUBA', 'ORINDIÚVA', 'MONTE VERDE PAULISTA', 'ICÉM', 'BAGUACU', 'EMBAÚBA', 'VALENTIM GENTIL', 'CARDOSO', 'VOTUPORANGA', 'COSMORAMA', 'PONTES GESTAL', 'AMERICO DE CAMPOS', 'BOA VISTA DOS ANDRADAS', 'MIRA ESTRELA', 'PARISI', 'ALVARES FLORENCE', 'ÁLVARES FLORENCE', 'AMÉRICO DE CAMPOS', 'FERNANDOPOLIS', 'OUROESTE', 'MERIDIANO', 'INDIAPORA', "ESTRELA D'OESTE", 'FERNANDÓPOLIS', 'ESTRELA D OESTE', "GUARANI D'OESTE", 'ESTRELA DOESTE', 'PEDRANOPOLIS', 'MACEDONIA', 'INDIAPORÃ', 'SÃO JOÃO DAS DUAS PONTES', 'POPULINA', 'SAO JOAO DAS DUAS PONTES', 'BRASITANIA', 'MACEDÔNIA', 'BRASITÂNIA', 'TRES FRONTEIRAS', 'URANIA', 'JALES', 'SANTA FE DO SUL', 'SANTA FÉ DO SUL', "PALMEIRA D'OESTE", 'VITÓRIA BRASIL', 'SANTA ALBERTINA', 'TURMALINA', 'SANTANA DA PONTE PENSA', 'SANTA SALETE', 'APARECIDA D OESTE', "SANTA CLARA D'OESTE", 'RUBINEIA', 'DIRCE REIS', 'SAO FRANCISCO', "SANTA RITA D'OESTE", 'DOLCINOPOLIS', 'MARINOPOLIS', 'TRÊS FRONTEIRAS', "APARECIDA D'OESTE", 'PARANAPUA', 'MESOPOLIS', 'PALMEIRA DOESTE', 'ASPASIA', 'RUBINÉIA', 'VITORIA BRASIL', 'URÂNIA', 'PONTALINDA', 'PALMEIRA D OESTE', 'SANTA CLARA D OESTE', 'NOVA CANAA PAULISTA', 'DOLCINÓPOLIS', 'NOVA CANAÃ PAULISTA', 'SÃO FRANCISCO', 'MARINÓPOLIS', 'SANTA RITA D OESTE', 'ASPÁSIA', 'PARANAPUÃ', 'APARECIDA DOESTE', 'SANTA RITA DOESTE', 'PINDORAMA', 'URUPES', 'ITAJOBI', 'CATANDUVA', 'PARAISO', 'TABAPUA', 'CATIGUÁ', 'PALMARES PAULISTA', 'CEDRAL', 'NOVAIS', 'CATIGUA', 'PIRANGI', 'UCHOA', 'IBIRA', 'IBIRÁ', 'ELISIARIO', 'PARAÍSO', 'MARAPOAMA', 'TABAPUÃ', 'URUPÊS', 'SAO JOAO DE ITAGUACU', 'ROBERTO', 'SÃO JOÃO DE ITAGUAÇU', 'TERMAS DE IBIRA', 'ARIRANHA', 'MATAO', 'TAQUARITINGA', 'SANTA ERNESTINA', 'MONTE ALTO', 'MATÃO', 'SANTA ADELIA', 'VISTA ALEGRE DO ALTO', 'BOTELHO', 'FERNANDO PRESTES', 'APARECIDA DE MONTE ALTO', 'DOBRADA', 'CÂNDIDO RODRIGUES', 'CANDIDO RODRIGUES', 'SANTA ADÉLIA', 'AGULHA', 'JURUPEMA', 'ARACATUBA', 'ARAÇATUBA', 'SANTO ANTONIO DO ARACANGUA', 'SANTO ANTÔNIO DO ARACANGUÁ', 'BIRIGÜI', 'PIACATU', 'BIRIGUI', 'BILAC', 'CLEMENTINA', 'GABRIEL MONTEIRO', 'GLICERIO', 'BRAUNA', 'COROADOS', 'SANTOPOLIS DO AGUAPEI', 'SANTÓPOLIS DO AGUAPEÍ', 'BREJO ALEGRE', 'GLICÉRIO', 'JURITIS', 'PENÁPOLIS', 'PENAPOLIS', 'PROMISSAO', 'LUIZIANIA', 'PROMISSÃO', 'AVANHANDAVA', 'ALTO ALEGRE', 'LUIZIÂNIA', 'BARBOSA', 'LINS', 'GUAICARA', 'SABINO', 'GETULINA', 'GUAIMBE', 'GUAIÇARA', 'GUAIMBÊ', 'CAFELANDIA', 'CAFELÂNDIA', 'GUARANTA', 'GUARANTÃ', 'SIMOES', 'PRESIDENTE ALVES', 'PONGAI', 'AVAI', 'PIRAJUI', 'URU', 'PONGAÍ', 'PIRAJUÍ', 'BALBINOS', 'AVAÍ', 'GUARARAPES', 'RUBIACEA', 'BENTO DE ABREU', 'RUBIÁCEA', 'MIRANDOPOLIS', 'VALPARAISO', 'LAVINIA', 'MIRANDÓPOLIS', 'LAVÍNIA', 'VALPARAÍSO', 'TRES ALIANCAS', 'ANDRADINA', 'CASTILHO', 'GUARACAI', 'GUARAÇAÍ', 'MURUTINGA DO SUL', 'NOVA INDEPENDENCIA', 'NOVA INDEPENDÊNCIA', 'BAURU', 'AREALVA', 'AGUDOS', 'IACANGA', 'REGINOPOLIS', 'PAULISTANIA', 'REGINÓPOLIS', 'DOMELIA', 'PAULISTÂNIA', 'JACUBA', 'JAU', 'PEDERNEIRAS', 'JAÚ', 'ITAPUI', 'BARIRI', 'ITAJU', 'BORACEIA', 'MACATUBA', 'BOCAINA', 'ITAPUÍ', 'BORACÉIA', 'SANTELMO', 'POTUNDUVA', 'GUAIANAS', 'BARRA BONITA', 'BROTAS', 'IGARACU DO TIETE', 'DOIS CORREGOS', 'MINEIROS DO TIETE', 'TORRINHA', 'MINEIROS DO TIETÊ', 'DOIS CÓRREGOS', 'IGARAÇU DO TIETÊ', 'SANTA MARIA DA SERRA', 'GUARAPUA', 'LUPÉRCIO', 'GARCA', 'DUARTINA', 'GALIA', 'ÁLVARO DE CARVALHO', 'PIRATININGA', 'GARÇA', 'CABRALIA PAULISTA', 'UBIRAJARA', 'LUPERCIO', 'ALVINLANDIA', 'LUCIANÓPOLIS', 'FERNAO', 'ALVINLÂNDIA', 'LUCIANOPOLIS', 'GÁLIA', 'CABRÁLIA PAULISTA', 'ALVARO DE CARVALHO', 'JAFA', 'FERNÃO', 'MARILIA', 'JULIO MESQUITA', 'MARÍLIA', 'QUEIROZ', 'POMPEIA', 'POMPÉIA', 'VERA CRUZ', 'ORIENTE', 'OCAUCU', 'JÚLIO MESQUITA', 'OCAUÇU', 'TUPA', 'BASTOS', 'HERCULANDIA', 'IACRI', 'TUPÃ', 'QUINTANA', 'ARCO-IRIS', 'HERCULÂNDIA', 'OSVALDO CRUZ', 'LUCELIA', 'RINOPOLIS', 'PARAPUA', 'SAGRES', 'INUBIA PAULISTA', 'PRACINHA', 'PARAPUÃ', 'SALMOURÃO', 'SALMOURAO', 'LUCÉLIA', 'RINÓPOLIS', 'INÚBIA PAULISTA', 'JUNQUEIROPOLIS', 'PACAEMBU', 'FLORA RICA', 'FLORIDA PAULISTA', 'IRAPURU', 'JUNQUEIRÓPOLIS', 'MARIAPOLIS', 'FLÓRIDA PAULISTA', 'MARIÁPOLIS', 'DRACENA', 'OURO VERDE', "SAO JOAO DO PAU D'ALHO", 'PANORAMA', 'TUPI PAULISTA', 'MONTE CASTELO', 'PAULICEIA', 'SANTA MERCEDES', 'NOVA GUATAPORANGA', "SÃO JOÃO DO PAU D'ALHO", 'SAO JOAO DO PAU D ALHO', 'PAULICÉIA', 'JAMAICA', 'SAO JOAO DO PAU DALHO', 'SÃO JOÃO DO PAU D%26APOS%3BALHO', 'SOROCABA', 'MAIRINQUE', 'CAPELA DO ALTO', 'SAO ROQUE', 'VOTORANTIM', 'PILAR DO SUL', 'ALUMINIO', 'ARACARIGUAMA', 'SALTO DE PIRAPORA', 'ARACOIABA DA SERRA', 'SÃO ROQUE', 'PIEDADE', 'IBIUNA', 'IBIÚNA', 'TAPIRAÍ', 'ARAÇOIABA DA SERRA', 'ALUMÍNIO', 'TAPIRAI', 'ARAÇARIGUAMA', 'PARURU', 'ANGATUBA', 'SAO MIGUEL ARCANJO', 'ALAMBARI', 'TATUI', 'ITAPETININGA', 'SARAPUI', 'TATUÍ', 'CESARIO LANGE', 'BURI', 'PORANGABA', 'GUAREÍ', 'SÃO MIGUEL ARCANJO', 'TORRE DE PEDRA', 'GUAREI', 'CAMPINA DO MONTE ALEGRE', 'CESÁRIO LANGE', 'SARAPUÍ', 'CONCEIÇÃO', 'RECHAN', 'GRAMADINHO', 'QUADRA', 'BOM RETIRO DA ESPERANCA', 'APIAI', 'CAPÃO BONITO', 'GUAPIARA', 'APIAÍ', 'CAPAO BONITO', 'ITAOCA', 'RIBEIRA', 'IPORANGA', 'RIBEIRÃO GRANDE', 'BARRA DO CHAPÉU', 'ITAPIRAPUA PAULISTA', 'BARRA DO CHAPEU', 'RIBEIRAO GRANDE', 'ITAÓCA', 'ITAPIRAPUÃ PAULISTA', 'ITAPEVA', 'ITARARE', 'NOVA CAMPINA', 'ITABERÁ', 'ITAPORANGA', 'TAQUARIVAI', 'RIVERSUL', 'GUARIZINHO', 'ITABERA', 'RIBEIRAO BRANCO', 'BARAO DE ANTONINA', 'ITARARÉ', 'TAQUARIVAÍ', 'BOM SUCESSO DE ITARARE', 'RIBEIRÃO BRANCO', 'BOM SUCESSO DE ITARARÉ', 'BARÃO DE ANTONINA', 'BOITUVA', 'CERQUILHO', 'PORTO FELIZ', 'PEREIRAS', 'IPERÓ', 'CONCHAS', 'LARANJAL PAULISTA', 'IPERO', 'TIETE', 'TIETÊ', 'JUMIRIM', 'BOFETE', 'MARISTELA', 'AREIOPOLIS', 'LENÇÓIS PAULISTA', 'SAO MANUEL', 'LENCOIS PAULISTA', 'BOTUCATU', 'APARECIDA DE SÃO MANUEL', 'SÃO MANUEL', 'BOREBI', 'APARECIDA DE SAO MANUEL', 'ANHEMBI', 'PARDINHO', 'ITATINGA', 'ALFREDO GUEDES', 'PRATANIA', 'AREIÓPOLIS', 'PRATÂNIA', 'RUBIAO JUNIOR', 'PIRAMBOIA', 'AVARE', 'CERQUEIRA CESAR', 'TAQUARITUBA', 'PARANAPANEMA', 'HOLAMBRA II', 'CORONEL MACEDO', 'ITAI', 'AVARÉ', 'ÓLEO', 'MANDURI', 'OLEO', 'IARAS', 'AGUAS DE SANTA BARBARA', 'CERQUEIRA CÉSAR', 'ÁGUAS DE SANTA BÁRBARA', 'ARANDU', 'ITAÍ', 'PIRAJU', 'FARTURA', 'TAGUAI', 'SARUTAIA', 'TIMBURI', 'TEJUPÁ', 'TAGUAÍ', 'SARUTAIÁ', 'TEJUPA', 'SANTA CRUZ DO RIO PARDO', 'IPAUSSU', 'CHAVANTES', 'SAO PEDRO DO TURVO', 'BERNARDINO DE CAMPOS', 'ESPÍRITO SANTO DO TURVO', 'CANITAR', 'ESPIRITO SANTO DO TURVO', 'IRAPE', 'SÃO PEDRO DO TURVO', 'IRAPÉ', 'SODRELIA', 'CAPORANGA', 'PRESIDENTE PRUDENTE', 'ALVARES MACHADO', 'ÁLVARES MACHADO', 'SANTO EXPEDITO', 'FLORESTA DO SUL', 'ALFREDO MARCONDES', 'ENEIDA', 'PIRAPOZINHO', 'TEODORO SAMPAIO', 'NARANDIBA', 'EUCLIDES DA CUNHA PAULISTA', 'TARABAI', 'ROSANA', 'SANDOVALINA', 'MIRANTE DO PARANAPANEMA', 'ESTRELA DO NORTE', 'PRIMAVERA', 'CUIABÁ PAULISTA', 'COSTA MACHADO', 'CUIABA PAULISTA', 'SANTO ANASTACIO', 'PRESIDENTE BERNARDES', 'EMILIANOPOLIS', 'SANTO ANASTÁCIO', 'RIBEIRAO DOS INDIOS', 'EMILIANÓPOLIS', 'NOVA PATRIA', 'RIBEIRÃO DOS ÍNDIOS', 'PRESIDENTE VENCESLAU', 'PRESIDENTE EPITACIO', 'PRESIDENTE EPITÁCIO', 'MARABA PAULISTA', 'CAIUA', 'CAIUÁ', 'PIQUEROBI', 'CAMPINAL', 'REGENTE FEIJO', 'TACIBA', 'MARTINOPOLIS', 'REGENTE FEIJÓ', 'INDIANA', 'MARTINÓPOLIS', 'ESPIGAO', 'ANHUMAS', 'CAIABU', 'IUBATINGA', 'TECAINDA', 'RANCHARIA', 'JOAO RAMALHO', 'NANTES', 'IEPE', 'AGISSE', 'JOÃO RAMALHO', 'IEPÊ', 'GARDENIA', 'PARAGUACU PAULISTA', 'QUATA', 'PARAGUAÇU PAULISTA', 'QUATÁ', 'OSCAR BRESSANE', 'LUTECIA', 'LUTÉCIA', 'ASSIS', 'CÂNDIDO MOTA', 'MARACAI', 'CANDIDO MOTA', 'MARACAÍ', 'TARUMA', 'CRUZALIA', 'ECHAPORA', 'CRUZÁLIA', 'PEDRINHAS PAULISTA', 'FLORINIA', 'TARUMÃ', 'FLORÍNEA', 'FRUTAL DO CAMPO', 'FLORÍNIA', 'ECHAPORÃ', 'NOVA ALEXANDRIA', 'FLORINEA', 'SÃO JOSÉ DAS LARANJEIRAS', 'SAO JOSE DAS LARANJEIRAS', 'OURINHOS', 'PALMITAL', 'IBIRAREMA', 'PLATINA', 'SALTO GRANDE', 'CAMPOS NOVOS PAULISTA', 'RIBEIRAO DO SUL', 'RIBEIRÃO DO SUL', 'RIO DE JANEIRO', 'RIO DE JANEIRO, RIO DE JANEIRO, BRASIL', 'RJ', 'RIO JANEIRO', 'CAMPO GRANDE', 'SEROPEDICA', 'ITAGUAI', 'ITAGUAÍ', 'MANGARATIBA', 'ITACURUSSA', 'VILA MURIQUI', 'SEROPÉDICA', 'CONCEICAO DE JACAREI', 'ITACURUSSÁ', 'CONCEIÇÃO DE JACAREÍ', 'PARATI', 'PARATY', 'ANGRA DOS REIS', 'ILHA GRANDE', 'PARATI MIRIM', 'NITERÓI', 'NITEROI', 'SAO GONCALO', 'SÃO GONÇALO', 'ITABORAI', 'ITABORAÍ', 'TANGUÁ', 'TANGUA', 'MARICA', 'MARICÁ', 'INOA', 'DUQUE DE CAXIAS', 'SÃO JOÃO DE MERITI', 'SAO JOAO DE MERITI', 'PETROPOLIS', 'PETRÓPOLIS', 'SAO JOSE DO VALE DO RIO PRETO', 'SÃO JOSÉ DO VALE DO RIO PRETO', 'PARAIBA DO SUL', 'TRES RIOS', 'COMENDADOR LEVY GASPARIAN', 'WERNECK', 'TRÊS RIOS', 'AREAL', 'SAPUCAIA', 'JAMAPARA', 'PARAÍBA DO SUL', 'NOSSA SENHORA DA APARECIDA', 'ANTA', 'JAMAPARÁ', 'PIAO', 'AFONSO ARINOS', 'GUAPIMIRIM', 'TERESOPOLIS', 'MAGÉ', 'MAGE', 'TERESÓPOLIS', 'GUIA DE PACOBAIBA', 'PIABETA', 'INHOMIRIM', 'SANTO ALEIXO', 'GUIA DE PACOBAÍBA', '´TERESOPOLIS', 'NOVA IGUACU', 'NOVA IGUAÇU', 'BELFORD ROXO', 'QUEIMADOS', 'JAPERI', 'MESQUITA', 'NILOPOLIS', 'NILÓPOLIS', 'PARACAMBI', 'ENGENHEIRO PAULO DE FRONTIN', 'SACRA FAMILIA DO TINGUA', 'SACRA FAMÍLIA DO TINGUÁ', 'MENDES', 'MIGUEL PEREIRA', 'PATY DO ALFERES', 'GOVERNADOR PORTELA', 'AVELAR', 'CONRADO', 'PIRAI', 'BARRA DO PIRAI', 'PINHEIRAL', 'BARRA DO PIRAÍ', 'SAO JOSE DO TURVO', 'CALIFÓRNIA DA BARRA', 'PIRAÍ', 'ARROZAL', 'IPIABAS', 'VARGEM ALEGRE', 'CALIFORNIA DA BARRA', 'DORANDIA', 'SANTANESIA', 'CALIFORNIA DA BARRA (BARRA DO PIRAI)', 'SÃO JOSÉ DO TURVO', 'VOLTA REDONDA', 'BARRA MANSA', 'QUATIS', 'LIDICE', 'LÍDICE', 'GETULÂNDIA', 'PASSA TRES', 'PASSA TRÊS', 'RESENDE', 'PORTO REAL', 'ITATIAIA', 'VISCONDE DE MAUA', 'PENEDO', 'PENEDO (ITATIAIA)', 'ENGENHEIRO PASSOS', 'VALENCA', 'TABOAS', 'RIO DAS FLORES', 'BARAO DE JUPARANA', 'CONSERVATÓRIA', 'VALENÇA', 'CONSERVATORIA', 'BARÃO DE JUPARANA', 'SANTA ISABEL DO RIO PRETO', 'MANUEL DUARTE', 'PARAPEUNA', 'VASSOURAS', 'ANDRADE PINTO', 'MACAE', 'MACAÉ', 'CARAPEBUS', 'SANA', 'FRADE', 'CAMPOS DOS GOYTACAZES', 'CAMPOS DOS GOYTACAZE', 'GOITACAZES', 'CARDOSO MOREIRA', 'VILA NOVA DE CAMPOS', 'SANTO AMARO DE CAMPOS', 'SAO SEBASTIAO DE CAMPOS', 'SANTA MARIA', 'TRAVESSAO', 'TOCOS', 'MORRO DO COCO', 'ITALVA', 'SAO JOAO DA BARRA', 'BARCELOS', 'SAO FRANCISCO DE ITABAPOANA', 'SÃO JOÃO DA BARRA', 'SÃO FRANCISCO DE ITABAPOANA', 'BOM JESUS DO ITABAPOANA', 'NATIVIDADE', 'ITAPERUNA', 'VARRE-SAI', 'PORCIUNCULA', 'RETIRO DO MURIAÉ', 'LAJE DO MURIAÉ', 'LAJE DO MURIAE', 'COMENDADOR VENANCIO', 'RAPOSO', 'PORCIÚNCULA', 'RETIRO DO MURIAE', 'PURILANDIA', 'BOA VENTURA', 'SANTA CLARA', 'CALHEIROS', 'CARABUCU', 'CARABUÇU', 'SAO FIDELIS', 'SANTO ANTONIO DE PADUA', 'MIRACEMA', 'APERIBE', 'CAMBUCI', 'SAO JOAO DO PARAISO', 'SÃO FIDÉLIS', 'COLONIA', 'APERIBÉ', 'SAO JOSE DE UBA', 'PUREZA', 'SANTO ANTÔNIO DE PÁDUA', 'SÃO JOÃO DO PARAÍSO', 'SÃO JOSÉ DE UBÁ', 'MONTE ALEGRE', 'TRES IRMAOS', 'CAMBIASCA', 'COLÔNIA', 'IPUCA', 'PARAISO DO TOBIAS', 'MACUCO', 'CORDEIRO', 'PORTELA', 'CANTAGALO', 'SAO SEBASTIAO DO ALTO', 'ITAOCARA', 'LARANJAIS', 'SÃO SEBASTIÃO DO ALTO', 'IPITUNA', 'BOA SORTE', 'SANTA RITA DA FLORESTA', 'VALAO DO BARRO', 'NOVA FRIBURGO', 'JAPUIBA', 'CARMO', 'CACHOEIRAS DE MACACU', 'BOM JARDIM', 'DUAS BARRAS', 'PAPUCAIA', 'SUMIDOURO', 'BANQUETE', 'JAPUÍBA', 'PORTO VELHO DO CUNHA', 'SAO JOSE DO RIBEIRAO', 'TRAJANO DE MORAES', 'CONCEICAO DE MACABU', 'QUISSAMA', 'QUISSAMÃ', 'SANTA MARIA MADALENA', 'TRAJANO DE MORAIS', 'CONCEIÇÃO DE MACABU', 'VISCONDE DE IMBE', 'RIO DAS OSTRAS', 'RIO BONITO', 'CASIMIRO DE ABREU', 'SILVA JARDIM', 'BARRA DE SAO JOAO', 'BOA ESPERANÇA', 'BARRA DE SÃO JOÃO', 'BOA ESPERANCA', 'CABO FRIO', 'ARRAIAL DO CABO', 'ARARUAMA', 'ARMACAO DOS BUZIOS', 'SAO PEDRO DA ALDEIA', 'SAQUAREMA', 'IGUABA GRANDE', 'ARMAÇÃO DOS BÚZIOS', 'ARMACAO DE BUZIOS', 'SAO VICENTE DE PAULA', 'SÃO VICENTE DE PAULA', 'SÃO PEDRO DA ALDEIA', 'BÚZIOS', 'BUZIOS', 'BACAXA', 'TAMOIOS (CABO FRIO)', 'BACAXA (SAQUAREMA) - DISTRITO', 'SAMPAIO CORREIA', '...ARRAIAL DO CABO', 'VITÓRIA', 'VITORIA', 'VILA VELHA', 'SERRA', 'CARIACICA', 'ARACRUZ', 'VIANA', 'FUNDAO', 'COQUEIRAL', 'PRAIA GRANDE (FUNDÃO) - DISTRITO', 'FUNDÃO', 'ANCHIETA', 'RIO NOVO DO SUL', 'GUARAPARI', 'ICONHA', 'MARECHAL F

## Creating master fact table

In [25]:
# 1) aggregate payments per order
payments_agg = (
    payments.groupby('order_id')
    .agg(payment_value_total=('payment_value','sum'),
         payment_types=('payment_type', lambda x: ','.join(sorted(x.dropna().unique()))),
         payment_installments_max=('payment_installments','max'),
         payment_count=('payment_value','count'))
    .reset_index()
)
payments_agg

,order_id,payment_value_total,payment_types,payment_installments_max,payment_count
0,00010242fe8c5a6d1ba2dd792cb16214,72.19,credit_card,2,1
1,00018f77f2f0320c557190d7a144bdd3,259.83,credit_card,3,1
2,000229ec398224ef6ca0657da4fc703e,216.87,credit_card,5,1
3,00024acbcdf0a6daa1e931b038114c75,25.78,credit_card,2,1
4,00042b26cf59d7ce69dfabb4e55b4fd9,218.04,credit_card,3,1
...,...,...,...,...,...
99435,fffc94f6ce00a00581880bf54a75a037,343.40,boleto,1,1
99436,fffcd46ef2263f404302a634eb57f7eb,386.53,boleto,1,1
99437,fffce4705a9662cd70adb13d4a31832d,116.85,credit_card,3,1
99438,fffe18544ffabc95dfada21779c9644f,64.71,credit_card,3,1
99439,fffe41c64501cc87c801fd61db3f6244,55.79,credit_card,1,1

In [26]:
# 2) aggregate reviews per order
reviews_agg = (
    reviews.groupby('order_id')
    .agg(review_score_mean=('review_score','mean'),
         review_score_count=('review_score','count'))
    .reset_index()
)
reviews_agg

                               order_id  review_score_mean  review_score_count
0      00010242fe8c5a6d1ba2dd792cb16214                5.0                   1
1      00018f77f2f0320c557190d7a144bdd3                4.0                   1
2      000229ec398224ef6ca0657da4fc703e                5.0                   1
3      00024acbcdf0a6daa1e931b038114c75                4.0                   1
4      00042b26cf59d7ce69dfabb4e55b4fd9                5.0                   1
...                                 ...                ...                 ...
98668  fffc94f6ce00a00581880bf54a75a037                5.0                   1
98669  fffcd46ef2263f404302a634eb57f7eb                5.0                   1
98670  fffce4705a9662cd70adb13d4a31832d                5.0                   1
98671  fffe18544ffabc95dfada21779c9644f                5.0                   1
98672  fffe41c64501cc87c801fd61db3f6244                5.0                   1

[98673 rows x 3 columns]

In [27]:
reviews

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01,2018-03-02 10:26:53
...,...,...,...,...,...,...,...
99219,574ed12dd733e5fa530cfd4bbf39d7c9,2a8c23fee101d4d5662fa670396eb8da,5,NaN,NaN,2018-07-07,2018-07-14 17:18:30
99220,f3897127253a9592a73be9bdfdf4ed7a,22ec9f0669f784db00fa86d035cf8602,5,NaN,NaN,2017-12-09,2017-12-11 20:06:42
99221,b3de70c89b1510c4cd3d0649fd302472,55d4004744368f5571d1f590031933e4,5,NaN,"Excelente mochila, entrega super rápida. Super...",2018-03-22,2018-03-23 09:10:43
99222,1adeb9d84d72fe4e337617733eb85149,7725825d039fc1f0ceb7635e3f7d9206,4,NaN,NaN,2018-07-01,2018-07-02 12:59:13
99223,efe49f1d6f951dd88b51e6ccd4cc548f,90531360ecb1eec2a1fbb265a0db0508,1,NaN,"meu produto chegou e ja tenho que devolver, po...",2017-07-03,2017-07-03 21:01:49

In [28]:
# 3) prepare orders + customers (order-level info)
orders_customers = orders.merge(customers, on='customer_id', how='left', suffixes=('','_cust'))
orders_customers

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,af07308b275d755c9edb36a90c618231,47813,barreiras,BA
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,GO
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15,7c142cf63193a1473d2e66489a9ae977,59296,sao goncalo do amarante,RN
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26,72632f0f9dd73dfee390c9b22eb56dd6,9195,santo andre,SP
...,...,...,...,...,...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28,6359f309b166b0196dbf7ad2ac62bb5a,12209,sao jose dos campos,SP
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02,da62f9e57a76d978d02ab5362c509660,11722,praia grande,SP
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27,737520a9aad80b3fbbdad19b66b37b30,45920,nova vicosa,BA
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15,5097a5312c8b157bb7be58ae360ef43c,28685,japuiba,RJ
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03,60350aa974b26ff12caad89e55993bd6,83750,lapa,PR

In [29]:
fact = order_items.merge(orders_customers, on='order_id', how='left', suffixes=('','_order'))
fact

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02,2017-09-13 09:45:35,2017-09-19 18:34:16,2017-09-20 23:43:48,2017-09-29,871766c5855e863f6eccc05f988b23cb,28013,campos dos goytacazes,RJ
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,f6dd3ec061db4e3987629fe6b26e5cce,delivered,2017-04-26 10:53:06,2017-04-26 11:05:13,2017-05-04 14:35:00,2017-05-12 16:04:24,2017-05-15,eb28e67c4c0b83846050ddfb8a35d051,15775,santa fe do sul,SP
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,6489ae5e4333f3693df5ad4372dab6d3,delivered,2018-01-14 14:33:31,2018-01-14 14:48:30,2018-01-16 12:36:48,2018-01-22 13:19:16,2018-02-05,3818d81c6709e39d06b2738a8d3a2474,35661,para de minas,MG
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,d4eb9395c8c0431ee92fce09860c5a06,delivered,2018-08-08 10:00:35,2018-08-08 10:10:18,2018-08-10 13:28:00,2018-08-14 13:32:39,2018-08-20,af861d436cfc08b2c2ddefd0ba074622,12952,atibaia,SP
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,58dbd0b2d70206bf40e62cd34e84d795,delivered,2017-02-04 13:57:51,2017-02-04 14:10:13,2017-02-16 09:46:09,2017-03-01 16:42:31,2017-03-17,64b576fb70d441e8f1b2d7d446e483c5,13226,varzea paulista,SP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41,b51593916b4b8e0d6f66f2ae24f2673d,delivered,2018-04-23 13:57:06,2018-04-25 04:11:01,2018-04-25 12:09:00,2018-05-10 22:56:40,2018-05-18,0c9aeda10a71f369396d0c04dce13a64,65077,sao luis,MA
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53,84c5d4fbaf120aae381fad077416eaa0,delivered,2018-07-14 10:26:46,2018-07-17 04:31:48,2018-07-17 08:05:00,2018-07-23 20:31:55,2018-08-01,0da9fe112eae0c74d3ba1fe16de0988b,81690,curitiba,PR
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95,29309aa813182aaddc9b259e31b870e6,delivered,2017-10-23 17:07:56,2017-10-24 17:14:25,2017-10-26 15:13:14,2017-10-28 12:22:22,2017-11-10,cd79b407828f02fdbba457111c38e4c4,4039,sao paulo,SP
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72,b5e6afd5a41800fdf401e0272ca74655,delivered,2017-08-14 23:02:59,2017-08-15 00:04:32,2017-08-15 19:02:53,2017-08-16 21:59:40,2017-08-25,eb803377c9315b564bdedad672039306,13289,vinhedo,SP
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79,96d649da0cc4ff33bb408b199d4c7dcf,delivered,2018-06-09 17:00:18,2018-06-09 17:10:13,2018-06-11 14:11:00,2018-06-14 17:56:26,2018-06-28,cd76a00d8e3ca5e6ab9ed9ecb6667ac4,18605,botucatu,SP

In [30]:
fact = fact.merge(products[['product_id','product_category_name_english','product_name_lenght','product_description_lenght','product_photos_qty']], on='product_id', how='left')
fact = fact.merge(sellers[['seller_id','seller_zip_code_prefix','seller_city','seller_state']], on='seller_id', how='left')
fact = fact.merge(payments_agg, on='order_id', how='left')
fact = fact.merge(reviews_agg, on='order_id', how='left')

In [31]:
fact

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,customer_id,order_status,order_purchase_timestamp,...,product_photos_qty,seller_zip_code_prefix,seller_city,seller_state,payment_value_total,payment_types,payment_installments_max,payment_count,review_score_mean,review_score_count
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02,...,4.0,27277,VOLTA REDONDA,SP,72.19,credit_card,2.0,1.0,5.0,1.0
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,f6dd3ec061db4e3987629fe6b26e5cce,delivered,2017-04-26 10:53:06,...,2.0,3471,SAO PAULO,SP,259.83,credit_card,3.0,1.0,4.0,1.0
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,6489ae5e4333f3693df5ad4372dab6d3,delivered,2018-01-14 14:33:31,...,2.0,37564,BORDA DA MATA,MG,216.87,credit_card,5.0,1.0,5.0,1.0
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,d4eb9395c8c0431ee92fce09860c5a06,delivered,2018-08-08 10:00:35,...,1.0,14403,FRANCA,SP,25.78,credit_card,2.0,1.0,4.0,1.0
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,58dbd0b2d70206bf40e62cd34e84d795,delivered,2017-02-04 13:57:51,...,1.0,87900,LOANDA,PR,218.04,credit_card,3.0,1.0,5.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41,b51593916b4b8e0d6f66f2ae24f2673d,delivered,2018-04-23 13:57:06,...,3.0,88303,ITAJAI,SC,343.40,boleto,1.0,1.0,5.0,1.0
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53,84c5d4fbaf120aae381fad077416eaa0,delivered,2018-07-14 10:26:46,...,1.0,1206,SAO PAULO,SP,386.53,boleto,1.0,1.0,5.0,1.0
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95,29309aa813182aaddc9b259e31b870e6,delivered,2017-10-23 17:07:56,...,1.0,80610,CURITIBA,PR,116.85,credit_card,3.0,1.0,5.0,1.0
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72,b5e6afd5a41800fdf401e0272ca74655,delivered,2017-08-14 23:02:59,...,1.0,4733,SAO PAULO,SP,64.71,credit_card,3.0,1.0,5.0,1.0
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79,96d649da0cc4ff33bb408b199d4c7dcf,delivered,2018-06-09 17:00:18,...,1.0,14940,IBITINGA,SP,55.79,credit_card,1.0,1.0,5.0,1.0

In [32]:
# --- 6) Geolocation Mapping (zip -> lat/lng) ---
geo_map = geolocation.groupby('geolocation_zip_code_prefix').agg(
    geo_lat=('geolocation_lat','first'),
    geo_lng=('geolocation_lng','first')
).reset_index()
geo_map['geolocation_zip_code_prefix'] = geo_map['geolocation_zip_code_prefix'].astype(str)
geo_map

      geolocation_zip_code_prefix    geo_lat    geo_lng
0                            1001 -23.549292 -46.633559
1                            1002 -23.548318 -46.635421
2                            1003 -23.549032 -46.635313
3                            1004 -23.550116 -46.635122
4                            1005 -23.549819 -46.635606
...                           ...        ...        ...
19010                       99960 -27.953797 -52.029641
19011                       99965 -28.173892 -52.038447
19012                       99970 -28.345143 -51.876926
19013                       99980 -28.389218 -51.846012
19014                       99990 -28.329718 -51.769615

[19015 rows x 3 columns]

In [33]:
customers['customer_zip_code_prefix'] = customers['customer_zip_code_prefix'].astype(str)
sellers['seller_zip_code_prefix'] = sellers['seller_zip_code_prefix'].astype(str)

In [34]:
# Merge with customers
customers_geo = customers.merge(
    geo_map.rename(columns={
        'geolocation_zip_code_prefix':'customer_zip_code_prefix',
        'geo_lat':'customer_lat',
        'geo_lng':'customer_lng'
    }),
    on='customer_zip_code_prefix',
    how='left'
)
customers_geo

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,customer_lat,customer_lng
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,-20.509897,-47.397866
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP,-23.726853,-46.545746
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP,-23.527788,-46.660310
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP,-23.496930,-46.185352
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,-22.987222,-47.151073
...,...,...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP,-23.587901,-46.501830
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP,-23.612294,-46.765787
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE,-3.744128,-38.510859
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS,-29.956391,-51.167614
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP,-23.593985,-46.910591

In [35]:
# Merge with sellers
sellers_geo = sellers.merge(
    geo_map.rename(columns={
        'geolocation_zip_code_prefix':'seller_zip_code_prefix',
        'geo_lat':'seller_lat',
        'geo_lng':'seller_lng'
    }),
    on='seller_zip_code_prefix',
    how='left'
)
sellers_geo

,seller_id,seller_zip_code_prefix,seller_city,seller_state,seller_lat,seller_lng
0,3442f8959a84dea7ee197c632cb2df15,13023,CAMPINAS,SP,-22.898536,-47.063125
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,MOGI GUACU,SP,-22.382941,-46.946641
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,RIO DE JANEIRO,RJ,-22.910641,-43.176510
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,SAO PAULO,SP,-23.657250,-46.610759
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,BRAGANCA PAULISTA,SP,-22.971648,-46.533618
...,...,...,...,...,...,...
3090,98dddbc4601dd4443ca174359b237166,87111,SARANDI,PR,-23.456431,-51.866369
3091,f8201cab383e484733266d1906e2fdfa,88137,PALHOCA,SC,-27.623801,-48.674286
3092,74871d19219c7d518d0090283e03c137,4650,SAO PAULO,SP,-23.659845,-46.677882
3093,e603cf3fec55f8697c9059638d6c8eb5,96080,PELOTAS,RS,-31.744231,-52.328761
3094,9e25199f6ef7e7c347120ff175652c3b,12051,TAUBATE,SP,-23.016003,-45.582021

In [36]:
# Add lat/lng to fact
fact = fact.merge(customers_geo[['customer_id','customer_lat','customer_lng']], on='customer_id', how='left')
fact = fact.merge(sellers_geo[['seller_id','seller_lat','seller_lng']], on='seller_id', how='left')    
fact

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,customer_id,order_status,order_purchase_timestamp,...,payment_value_total,payment_types,payment_installments_max,payment_count,review_score_mean,review_score_count,customer_lat,customer_lng,seller_lat,seller_lng
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02,...,72.19,credit_card,2.0,1.0,5.0,1.0,-21.758076,-41.312633,-22.498183,-44.123614
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,f6dd3ec061db4e3987629fe6b26e5cce,delivered,2017-04-26 10:53:06,...,259.83,credit_card,3.0,1.0,4.0,1.0,-20.212393,-50.941471,-23.566258,-46.518417
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,6489ae5e4333f3693df5ad4372dab6d3,delivered,2018-01-14 14:33:31,...,216.87,credit_card,5.0,1.0,5.0,1.0,-19.860439,-44.597972,-22.264094,-46.158564
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,d4eb9395c8c0431ee92fce09860c5a06,delivered,2018-08-08 10:00:35,...,25.78,credit_card,2.0,1.0,4.0,1.0,-23.144923,-46.539830,-20.548228,-47.395897
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,58dbd0b2d70206bf40e62cd34e84d795,delivered,2017-02-04 13:57:51,...,218.04,credit_card,3.0,1.0,5.0,1.0,-23.249008,-46.824961,-22.931427,-53.133759
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41,b51593916b4b8e0d6f66f2ae24f2673d,delivered,2018-04-23 13:57:06,...,343.40,boleto,1.0,1.0,5.0,1.0,-2.490420,-44.303287,-26.912429,-48.677381
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53,84c5d4fbaf120aae381fad077416eaa0,delivered,2018-07-14 10:26:46,...,386.53,boleto,1.0,1.0,5.0,1.0,-25.601485,-49.317700,-23.535536,-46.643052
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95,29309aa813182aaddc9b259e31b870e6,delivered,2017-10-23 17:07:56,...,116.85,credit_card,3.0,1.0,5.0,1.0,-23.597813,-46.650272,-25.469214,-49.293935
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72,b5e6afd5a41800fdf401e0272ca74655,delivered,2017-08-14 23:02:59,...,64.71,credit_card,3.0,1.0,5.0,1.0,-23.036935,-46.982526,-23.636657,-46.694780
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79,96d649da0cc4ff33bb408b199d4c7dcf,delivered,2018-06-09 17:00:18,...,55.79,credit_card,1.0,1.0,5.0,1.0,-22.908684,-48.440255,-21.766477,-48.831547

In [37]:
## For Distance Analysis

In [38]:
import numpy as np
from math import radians, sin, cos, sqrt, atan2

In [39]:
# --- 7) Distance Calculation ---
def haversine(lat1, lon1, lat2, lon2):
    if pd.isna(lat1) or pd.isna(lon1) or pd.isna(lat2) or pd.isna(lon2):
        return np.nan
    lat1, lon1, lat2, lon2 = map(radians, [lat1, lon1, lat2, lon2])
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * atan2(sqrt(a), sqrt(1-a))
    r = 6371  # Earth radius in km
    return r * c

In [40]:
fact['distance_km'] = fact.apply(
    lambda r: haversine(r['customer_lat'], r['customer_lng'],
                        r['seller_lat'], r['seller_lng']),
    axis=1
)
fact['distance_km']

0          301.005664
1          589.274140
2          312.495046
3          301.951753
4          646.221788
             ...
112645    2755.314485
112646     354.848852
112647     338.827218
112648      72.870476
112649     133.230980
Name: distance_km, Length: 112650, dtype: float64

In [41]:
# Calculated columns

In [42]:
fact['order_purchase_timestamp'] = pd.to_datetime(fact['order_purchase_timestamp'], errors='coerce')
fact['order_delivered_customer_date'] = pd.to_datetime(fact['order_delivered_customer_date'], errors='coerce')
fact['order_estimated_delivery_date'] = pd.to_datetime(fact['order_estimated_delivery_date'], errors='coerce')

In [43]:
# Delivery days
fact['delivery_days'] = (fact['order_delivered_customer_date'] - fact['order_purchase_timestamp']).dt.days
fact['delivery_days']

0          7.0
1         16.0
2          7.0
3          6.0
4         25.0
          ...
112645    17.0
112646     9.0
112647     4.0
112648     1.0
112649     5.0
Name: delivery_days, Length: 112650, dtype: float64

In [47]:
# On-time delivery flag
def check_on_time(row):
    if pd.isna(row['order_delivered_customer_date']) or pd.isna(row['order_estimated_delivery_date']):
        return np.nan
    if row['order_delivered_customer_date'] == row['order_estimated_delivery_date']:
        return "On-Time Delivery"
    elif row['order_delivered_customer_date'] < row['order_estimated_delivery_date']:
        return "Early Delivery"
    else:
        return "Delay Delivery"

fact['on_time'] = fact.apply(check_on_time, axis=1)
fact['on_time'].value_counts()

Early Delivery    101481
Delay Delivery      8715
Name: on_time, dtype: int64

In [48]:
# Revenue
fact['revenue'] = fact['price'].astype(float)
fact['revenue']

0          58.90
1         239.90
2         199.00
3          12.99
4         199.90
           ...
112645    299.99
112646    350.00
112647     99.90
112648     55.99
112649     43.00
Name: revenue, Length: 112650, dtype: float64

In [49]:
# Repeat customer flag
fact = fact.sort_values(['customer_unique_id','order_purchase_timestamp'])
fact['order_rank_for_customer'] = fact.groupby('customer_unique_id')['order_id'].transform(lambda x: pd.factorize(x)[0] + 1)
fact['is_repeat_customer'] = fact['order_rank_for_customer'] > 1
fact[["order_rank_for_customer","is_repeat_customer"]]

        order_rank_for_customer  is_repeat_customer
99743                         1               False
23496                         1               False
78796                         1               False
28613                         1               False
95800                         1               False
...                         ...                 ...
50319                         1               False
87706                         1               False
111713                        1               False
65132                         1               False
108954                        1               False

[112650 rows x 2 columns]

In [50]:
# recency
fact['days_since_last_order'] = fact.groupby('customer_unique_id')['order_purchase_timestamp'].diff().dt.days
fact['days_since_last_order'].value_counts()

0.0      14956
1.0         41
2.0         37
6.0         35
7.0         32
         ...
431.0        1
506.0        1
434.0        1
472.0        1
321.0        1
Name: days_since_last_order, Length: 414, dtype: int64

In [51]:
fact["is_repeat_customer"].value_counts()

False    108722
True       3928
Name: is_repeat_customer, dtype: int64

In [52]:
# Final Column Selection
keep_cols = [
 'order_id','order_item_id','order_status','order_purchase_timestamp','order_delivered_customer_date',
 'order_estimated_delivery_date','customer_id','customer_unique_id',
 'seller_id','product_id','product_category_name_english',
 'price','freight_value','revenue',
 'payment_value_total','payment_types','payment_installments_max',
 'review_score_mean','review_score_count',
 'delivery_days','on_time','is_repeat_customer',
 'distance_km'
]
keep_cols = [c for c in keep_cols if c in fact.columns]
fact_final = fact[keep_cols].copy()

In [53]:
fact_final.head()

,order_id,order_item_id,order_status,order_purchase_timestamp,order_delivered_customer_date,order_estimated_delivery_date,customer_id,customer_unique_id,seller_id,product_id,...,revenue,payment_value_total,payment_types,payment_installments_max,review_score_mean,review_score_count,delivery_days,on_time,is_repeat_customer,distance_km
99743,e22acc9c116caa3f2b7121bbb380d08e,1,delivered,2018-05-10 10:56:27,2018-05-16 20:48:37,2018-05-21,fadbb3709178fc513abc1b2670aa1ad2,0000366f3b9a7992bf8c76cfdf3221e2,da8622b14eb17ae2831f4ac5b9dab84a,372645c7439f9661fbbacfd129aa92ec,...,129.90,141.90,credit_card,8.0,5.0,1.0,6.0,Early Delivery,False,109.187613
23496,3594e05a005ac4d06a72673270ef9ec9,1,delivered,2018-05-07 11:11:27,2018-05-10 18:02:42,2018-05-15,4cb282e167ae9234755102258dd52ee8,0000b849f77a49e4a4ce2b2a4ca5be3f,138dbe45fc62f1e244378131a6801526,5099f7000472b634fea8304448d20825,...,18.90,27.19,credit_card,1.0,4.0,1.0,3.0,Early Delivery,False,22.828272
78796,b33ec3b699337181488304f362a6b734,1,delivered,2017-03-10 21:05:03,2017-04-05 14:38:47,2017-04-07,9b3932a6253894a02c1df9d19004239f,0000f46a3911fa3c0805444483337064,3d871de0142ce09b7081e2b9d1733cb1,64b488de448a5324c4134ea39c28a34b,...,69.00,86.22,credit_card,8.0,3.0,1.0,25.0,Early Delivery,False,517.314755
28613,41272756ecddd9a9ed0180413cc22fb6,1,delivered,2017-10-12 20:29:41,2017-11-01 21:23:05,2017-11-13,914991f0c02ef0843c0e7010c819d642,0000f6ccb0745a6a4b88665a16c9f078,ef506c96320abeedfb894c34db06f478,2345a354a6f2033609bbf62bf5be9ef6,...,25.99,43.62,credit_card,4.0,4.0,1.0,20.0,Early Delivery,False,2481.276085
95800,d957021f1127559cd947b62533f484f7,1,delivered,2017-11-14 19:45:42,2017-11-27 23:08:56,2017-12-05,47227568b10f5f58a524a75507e6992c,0004aac84e0df4da2b147fca70cf8255,70a12e78e608ac31179aea7f8422044b,c72e18b3fe2739b8d24ebf3102450f37,...,180.00,196.89,credit_card,6.0,5.0,1.0,13.0,Early Delivery,False,153.904465

In [54]:
orders["order_status"].value_counts()

delivered      96478
shipped         1107
canceled         625
unavailable      609
invoiced         314
processing       301
created            5
approved           2
Name: order_status, dtype: int64

In [55]:

fact_final.head(3)

,order_id,order_item_id,order_status,order_purchase_timestamp,order_delivered_customer_date,order_estimated_delivery_date,customer_id,customer_unique_id,seller_id,product_id,...,revenue,payment_value_total,payment_types,payment_installments_max,review_score_mean,review_score_count,delivery_days,on_time,is_repeat_customer,distance_km
99743,e22acc9c116caa3f2b7121bbb380d08e,1,delivered,2018-05-10 10:56:27,2018-05-16 20:48:37,2018-05-21,fadbb3709178fc513abc1b2670aa1ad2,0000366f3b9a7992bf8c76cfdf3221e2,da8622b14eb17ae2831f4ac5b9dab84a,372645c7439f9661fbbacfd129aa92ec,...,129.9,141.90,credit_card,8.0,5.0,1.0,6.0,Early Delivery,False,109.187613
23496,3594e05a005ac4d06a72673270ef9ec9,1,delivered,2018-05-07 11:11:27,2018-05-10 18:02:42,2018-05-15,4cb282e167ae9234755102258dd52ee8,0000b849f77a49e4a4ce2b2a4ca5be3f,138dbe45fc62f1e244378131a6801526,5099f7000472b634fea8304448d20825,...,18.9,27.19,credit_card,1.0,4.0,1.0,3.0,Early Delivery,False,22.828272
78796,b33ec3b699337181488304f362a6b734,1,delivered,2017-03-10 21:05:03,2017-04-05 14:38:47,2017-04-07,9b3932a6253894a02c1df9d19004239f,0000f46a3911fa3c0805444483337064,3d871de0142ce09b7081e2b9d1733cb1,64b488de448a5324c4134ea39c28a34b,...,69.0,86.22,credit_card,8.0,3.0,1.0,25.0,Early Delivery,False,517.314755

In [56]:
fact_final.shape

(112650, 23)

In [57]:
fact.isnull().sum()

order_id                             0
order_item_id                        0
product_id                           0
seller_id                            0
shipping_limit_date                  0
price                                0
freight_value                        0
customer_id                          0
order_status                         0
order_purchase_timestamp             0
order_approved_at                   15
order_delivered_carrier_date      1194
order_delivered_customer_date     2454
order_estimated_delivery_date        0
customer_unique_id                   0
customer_zip_code_prefix             0
customer_city                        0
customer_state                       0
product_category_name_english     1627
product_name_lenght               1603
product_description_lenght        1603
product_photos_qty                1603
seller_zip_code_prefix               0
seller_city                          0
seller_state                         0
payment_value_total                  3
payment_types                        3
payment_installments_max             3
payment_count                        3
review_score_mean                  942
review_score_count                 942
customer_lat                       302
customer_lng                       302
seller_lat                         253
seller_lng                         253
distance_km                        554
delivery_days                     2454
on_time                           2454
revenue                              0
order_rank_for_customer              0
is_repeat_customer                   0
days_since_last_order            95420
dtype: int64

In [58]:
## Handling null values

In [59]:
fact['product_category_name_english'] = fact_final['product_category_name_english'].fillna('Unknown')

In [60]:
fact['payment_value_total'] = fact['payment_value_total'].fillna(0)
fact['payment_types'] = fact['payment_types'].fillna('Unknown')
fact['payment_installments_max'] = fact['payment_installments_max'].fillna(0)

In [61]:
fact['review_flag'] = fact['review_score_mean'].apply(lambda x :"No review" if pd.isna(x) else
                                                                       "Positive" if x>=4 else
                                                                       "Neutral" if x==3 else
                                                                       "Negative")
fact['review_flag'].value_counts()

Positive     84317
Negative     18007
Neutral       9384
No review      942
Name: review_flag, dtype: int64

In [62]:
fact['distance_band_km'] = fact['distance_km'].apply(lambda x: "Unknown" if pd.isna(x) else
                                                                            "0–50 km" if x < 50 else
                                                                            "50–200 km" if x < 200 else
                                                                            "200–500 km" if x < 500 else
                                                                            "500–1000 km" if x < 1000 else
                                                                            "1000+ km")
                                                                            
fact['distance_band_km'].value_counts()

200–500 km     35486
500–1000 km    30058
1000+ km       17708
50–200 km      15010
0–50 km        13834
Unknown          554
Name: distance_band_km, dtype: int64

In [63]:
# Calculated colunmns for detail analysis

In [64]:
# freight ratio
fact['freight_ratio'] = np.where(fact['price'] > 0, fact['freight_value'] / fact['price'], np.nan)
fact['freight_ratio']

99743     0.092379
23496     0.438624
78796     0.249565
28613     0.678338
95800     0.093833
            ...
50319     0.351676
87706     0.303437
111713    0.250945
65132     0.162522
108954    0.255659
Name: freight_ratio, Length: 112650, dtype: float64

In [65]:
fact.head(3)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,customer_id,order_status,order_purchase_timestamp,...,distance_km,delivery_days,on_time,revenue,order_rank_for_customer,is_repeat_customer,days_since_last_order,review_flag,distance_band_km,freight_ratio
99743,e22acc9c116caa3f2b7121bbb380d08e,1,372645c7439f9661fbbacfd129aa92ec,da8622b14eb17ae2831f4ac5b9dab84a,2018-05-15 11:11:18,129.9,12.00,fadbb3709178fc513abc1b2670aa1ad2,delivered,2018-05-10 10:56:27,...,109.187613,6.0,Early Delivery,129.9,1,False,NaN,Positive,50–200 km,0.092379
23496,3594e05a005ac4d06a72673270ef9ec9,1,5099f7000472b634fea8304448d20825,138dbe45fc62f1e244378131a6801526,2018-05-11 17:56:33,18.9,8.29,4cb282e167ae9234755102258dd52ee8,delivered,2018-05-07 11:11:27,...,22.828272,3.0,Early Delivery,18.9,1,False,NaN,Positive,0–50 km,0.438624
78796,b33ec3b699337181488304f362a6b734,1,64b488de448a5324c4134ea39c28a34b,3d871de0142ce09b7081e2b9d1733cb1,2017-03-15 21:05:03,69.0,17.22,9b3932a6253894a02c1df9d19004239f,delivered,2017-03-10 21:05:03,...,517.314755,25.0,Early Delivery,69.0,1,False,NaN,Neutral,500–1000 km,0.249565

In [66]:
fact['order_item_id'].value_counts()

1     98666
2      9803
3      2287
4       965
5       460
6       256
7        58
8        36
9        28
10       25
11       17
12       13
13        8
14        7
15        5
16        3
17        3
18        3
19        3
20        3
21        1
Name: order_item_id, dtype: int64

In [67]:
fact.groupby('order_id')['order_item_id'].sum().sort_values(ascending = False)

order_id
8272b63d03f5f79c56e9e4120aec44ef    231
1b15974a0141d54e36626dca3fdc731a    210
ab14fdcfbe524636d65ee38360e22ce8    210
9ef13efd6949e4573a18964dd1bbe7f5    120
428a2f660dc84138d969ccd69a0ab6d5    120
                                   ...
5a0911d70c1f85d3bed0df1bf693a6dd      1
5a082b558a3798d3e36d93bfa8ca1eae      1
5a07264682e0b8fbb3f166edbbffc6e8      1
5a071192a28951b76774e5a760c8c9b7      1
fffe41c64501cc87c801fd61db3f6244      1
Name: order_item_id, Length: 98666, dtype: int64

In [68]:
# Average order value (revenue per order)
fact['aov'] = fact_final.apply(lambda r: r['revenue'] / r['order_item_id'] if r['order_item_id'] > 0 else 0, axis=1)
fact['aov']

99743     129.90
23496      18.90
78796      69.00
28613      25.99
95800     180.00
           ...
50319     340.00
87706      64.89
111713     89.90
65132     115.00
108954     56.99
Name: aov, Length: 112650, dtype: float64

In [69]:
fact[['order_id','order_item_id','revenue','aov']].sort_values(by='order_item_id',ascending=False)

                                order_id  order_item_id  revenue         aov
57317   8272b63d03f5f79c56e9e4120aec44ef             21     7.80    0.371429
11951   1b15974a0141d54e36626dca3fdc731a             20   100.00    5.000000
57316   8272b63d03f5f79c56e9e4120aec44ef             20     1.20    0.060000
75122   ab14fdcfbe524636d65ee38360e22ce8             20    98.70    4.935000
11950   1b15974a0141d54e36626dca3fdc731a             19   100.00    5.263158
...                                  ...            ...      ...         ...
83880   be84bc9735389c25de6ad5a664bff358              1    25.00   25.000000
42502   60cbc2a85ecd535c911397c150d60627              1   109.79  109.790000
76344   add089947b9ed98e5e257bbd4d13c8d7              1   269.99  269.990000
60668   8a4543daf946b1a63667049506da26f8              1    34.99   34.990000
108954  f79a35da168301ae56922475da21117b              1    56.99   56.990000

[112650 rows x 4 columns]

In [70]:
fact.columns

Index(['order_id', 'order_item_id', 'product_id', 'seller_id',
       'shipping_limit_date', 'price', 'freight_value', 'customer_id',
       'order_status', 'order_purchase_timestamp', 'order_approved_at',
       'order_delivered_carrier_date', 'order_delivered_customer_date',
       'order_estimated_delivery_date', 'customer_unique_id',
       'customer_zip_code_prefix', 'customer_city', 'customer_state',
       'product_category_name_english', 'product_name_lenght',
       'product_description_lenght', 'product_photos_qty',
       'seller_zip_code_prefix', 'seller_city', 'seller_state',
       'payment_value_total', 'payment_types', 'payment_installments_max',
       'payment_count', 'review_score_mean', 'review_score_count',
       'customer_lat', 'customer_lng', 'seller_lat', 'seller_lng',
       'distance_km', 'delivery_days', 'on_time', 'revenue',
       'order_rank_for_customer', 'is_repeat_customer',
       'days_since_last_order', 'review_flag', 'distance_band_km',
       'freight_ratio', 'aov'],
      dtype='object')

In [71]:
fact['order_status'].value_counts()

delivered      110197
shipped          1185
canceled          542
invoiced          359
processing        357
unavailable         7
approved            3
Name: order_status, dtype: int64

In [72]:
fact.shape

(112650, 46)

In [73]:
fact['order_delivered_customer_date'].isnull().sum()

2454

In [74]:
# Delivery status
fact['delivery_status'] = fact.apply(lambda r: "Not Delivered" if pd.isna(r['order_delivered_customer_date']) else
                                                 "delivered",axis=1)

In [75]:
fact['status_check'] = fact.apply(
    lambda c: "Matched" if c['order_status'] == "delivered" and c['order_status'] == c['delivery_status']
              else ("Not Matched" if c['order_status'] == "delivered" else None),
    axis=1)

In [76]:
mismatches = fact[(fact['order_status'] == "delivered") & (fact['order_status'] != fact['delivery_status'])]
mismatches

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,customer_id,order_status,order_purchase_timestamp,...,revenue,order_rank_for_customer,is_repeat_customer,days_since_last_order,review_flag,distance_band_km,freight_ratio,aov,delivery_status,status_check
19642,2d1e2d5bf4dc7227b3bfebb81328c15f,1,a50acd33ba7a8da8e9db65094fa990a4,8581055ce74af1daba164fdbd55a40de,2017-12-04 17:56:40,117.30,17.53,ec05a6d8558c6455f0cbbd8a420ad34f,delivered,2017-11-28 17:44:07,...,117.30,1,False,NaN,Positive,50–200 km,0.149446,117.30,Not Delivered,Not Matched
14472,20edc82cf5400ce95e1afacc25798b31,1,55bfa0307d7a46bed72c492259921231,343e716476e3748b069f980efbaa294e,2018-07-03 16:29:30,45.90,9.07,28c37425f1127d887d7337f284080a0f,delivered,2018-06-27 16:09:12,...,45.90,1,False,NaN,Positive,50–200 km,0.197603,45.90,Not Delivered,Not Matched
20393,2ebdfc4f15f23b91474edf87475f108e,1,e7d5464b94c9a5963f7c686fc80145ad,58f1a6197ed863543e0136bdedb3fce2,2018-07-05 17:15:12,139.00,19.07,29f0540231702fda0cfdee0a310f11aa,delivered,2018-07-01 17:05:11,...,139.00,1,False,NaN,Positive,200–500 km,0.137194,139.00,Not Delivered,Not Matched
108192,f5dd62b788049ad9fc0526e3ad11a097,1,2167c8f6252667c0eb9edd51520706a1,0bb738e4d789e63e2267697c42d35a2d,2018-06-26 07:19:05,329.00,25.24,5e89028e024b381dc84a13a3570decb4,delivered,2018-06-20 06:58:43,...,329.00,1,False,NaN,Positive,50–200 km,0.076717,329.00,Not Delivered,Not Matched
101642,e69f75a717d64fc5ecdfae42b2e8e086,1,e7d5464b94c9a5963f7c686fc80145ad,58f1a6197ed863543e0136bdedb3fce2,2018-07-05 22:15:14,139.00,19.07,cfda40ca8dd0a5d486a9635b611b398a,delivered,2018-07-01 22:05:55,...,139.00,1,False,NaN,Positive,200–500 km,0.137194,139.00,Not Delivered,Not Matched
75303,ab7c89dc1bf4a1ead9d6ec1ec8968a84,1,a2a7efc985315e86d4f0f705701b342b,ed4acab38528488b65a9a9c603ff024a,2018-06-18 12:30:35,110.99,9.13,dd1b84a7286eb4524d52af4256c0ba24,delivered,2018-06-08 12:09:39,...,110.99,1,False,NaN,Negative,0–50 km,0.082260,110.99,Not Delivered,Not Matched
19838,2d858f451373b04fb5c984a1cc2defaf,1,30b5b5635a79548a48d04162d971848f,f9bbdd976532d50b7816d285a22bd01e,2017-06-04 23:30:16,179.00,15.00,e08caf668d499a6d643dafd7c5cc498a,delivered,2017-05-25 23:22:43,...,179.00,1,False,NaN,Positive,500–1000 km,0.083799,179.00,Not Delivered,Not Matched
5841,0d3268bad9b086af767785e3f0fc0133,1,ec165cd31c50585786ffda6feff5d0a6,8bdd8e3fd58bafa48af76b2c5fd71974,2018-07-05 21:29:54,188.99,15.63,4f1d63d35fb7c8999853b2699f5c7649,delivered,2018-07-01 21:14:02,...,188.99,1,False,NaN,Positive,200–500 km,0.082703,188.99,Not Delivered,Not Matched

In [77]:
mismatches.columns

Index(['order_id', 'order_item_id', 'product_id', 'seller_id',
       'shipping_limit_date', 'price', 'freight_value', 'customer_id',
       'order_status', 'order_purchase_timestamp', 'order_approved_at',
       'order_delivered_carrier_date', 'order_delivered_customer_date',
       'order_estimated_delivery_date', 'customer_unique_id',
       'customer_zip_code_prefix', 'customer_city', 'customer_state',
       'product_category_name_english', 'product_name_lenght',
       'product_description_lenght', 'product_photos_qty',
       'seller_zip_code_prefix', 'seller_city', 'seller_state',
       'payment_value_total', 'payment_types', 'payment_installments_max',
       'payment_count', 'review_score_mean', 'review_score_count',
       'customer_lat', 'customer_lng', 'seller_lat', 'seller_lng',
       'distance_km', 'delivery_days', 'on_time', 'revenue',
       'order_rank_for_customer', 'is_repeat_customer',
       'days_since_last_order', 'review_flag', 'distance_band_km',
       'freight_ratio', 'aov', 'delivery_status', 'status_check'],
      dtype='object')

In [78]:
missing_delivery_dates = fact[(fact['order_delivered_customer_date'].isna()) & (fact['order_status'] == "delivered")]
missing_delivery_dates[['order_id','order_delivered_customer_date','order_status','delivery_days']]

,order_id,order_delivered_customer_date,order_status,delivery_days
19642,2d1e2d5bf4dc7227b3bfebb81328c15f,NaT,delivered,NaN
14472,20edc82cf5400ce95e1afacc25798b31,NaT,delivered,NaN
20393,2ebdfc4f15f23b91474edf87475f108e,NaT,delivered,NaN
108192,f5dd62b788049ad9fc0526e3ad11a097,NaT,delivered,NaN
101642,e69f75a717d64fc5ecdfae42b2e8e086,NaT,delivered,NaN
75303,ab7c89dc1bf4a1ead9d6ec1ec8968a84,NaT,delivered,NaN
19838,2d858f451373b04fb5c984a1cc2defaf,NaT,delivered,NaN
5841,0d3268bad9b086af767785e3f0fc0133,NaT,delivered,NaN

In [79]:
fact['delivered_missing_date_flag'] = fact_final.apply(lambda r: 1 if r['order_status']=="delivered" and 
                                                       pd.isna(r['order_delivered_customer_date']) else 0,
                                                        axis=1)
fact['delivered_missing_date_flag'].value_counts()

0    112642
1         8
Name: delivered_missing_date_flag, dtype: int64

In [80]:
fact.columns

Index(['order_id', 'order_item_id', 'product_id', 'seller_id',
       'shipping_limit_date', 'price', 'freight_value', 'customer_id',
       'order_status', 'order_purchase_timestamp', 'order_approved_at',
       'order_delivered_carrier_date', 'order_delivered_customer_date',
       'order_estimated_delivery_date', 'customer_unique_id',
       'customer_zip_code_prefix', 'customer_city', 'customer_state',
       'product_category_name_english', 'product_name_lenght',
       'product_description_lenght', 'product_photos_qty',
       'seller_zip_code_prefix', 'seller_city', 'seller_state',
       'payment_value_total', 'payment_types', 'payment_installments_max',
       'payment_count', 'review_score_mean', 'review_score_count',
       'customer_lat', 'customer_lng', 'seller_lat', 'seller_lng',
       'distance_km', 'delivery_days', 'on_time', 'revenue',
       'order_rank_for_customer', 'is_repeat_customer',
       'days_since_last_order', 'review_flag', 'distance_band_km',
       'freight_ratio', 'aov', 'delivery_status', 'status_check',
       'delivered_missing_date_flag'],
      dtype='object')

In [81]:
## Save the Final Fact and relavite Dimension Tables in a folder

In [82]:
import os

# create output folder if not exists
output_path = "D:/Portfolio Projects/Ecommerce/Processed_Data"

In [83]:
keep_cols = [
    # keys & status
    'order_id','order_item_id','order_status',
    # time
    'order_purchase_timestamp','order_delivered_customer_date','order_estimated_delivery_date',
    # customer & seller
    'customer_id','customer_unique_id','customer_city','customer_state',
    'seller_id','seller_city','seller_state',
    # item/product
    'product_id','product_category_name_english',
    # finance
    'price','freight_value','revenue','order_line_total','freight_ratio',
    'payment_value_total','payment_types','payment_installments_max','multi_payment',
    # quality
    'review_score_mean','review_score_count','review_flag',
    # delivery
    'delivery_days','delivery_delay','on_time','delivered_flag','is_repeat_customer','days_since_last_order',
    # distance
    'distance_km','distance_band'
]

keep_cols = [c for c in keep_cols if c in fact.columns]
fact_final = fact[keep_cols].copy()
fact_final.to_csv(os.path.join(output_path, "fact_orders.csv"), index=False)

In [84]:
# --- Customers Dimension ---
dim_customers = fact[['customer_id','customer_unique_id','customer_zip_code_prefix',
                      'customer_city','customer_state','customer_lat','customer_lng']].drop_duplicates()
dim_customers.to_csv(os.path.join(output_path, "dim_customers.csv"), index=False)

In [85]:
# --- Sellers Dimension ---
dim_sellers = fact[['seller_id','seller_zip_code_prefix','seller_city','seller_state',
                    'seller_lat','seller_lng']].drop_duplicates()
dim_sellers.to_csv(os.path.join(output_path, "dim_sellers.csv"), index=False)

In [86]:
# --- Products Dimension ---
dim_products = fact[['product_id','product_category_name_english','product_name_lenght',
                     'product_description_lenght','product_photos_qty']].drop_duplicates()
dim_products.to_csv(os.path.join(output_path, "dim_products.csv"), index=False)

In [87]:
import pandas as pd
from sqlalchemy import create_engine

# 1) Create connection to MySQL
# Format: mysql+pymysql://username:password@host:port/database
engine = create_engine("mysql+pymysql://root:root@localhost:3306/ecom_data")

# 2) Insert DataFrames into MySQL
# Replace with your actual DataFrames
# (fact_final, dim_customers, dim_sellers, dim_products)

# --- Dimension Tables ---
dim_customers.to_sql("dim_customers", con=engine, if_exists="replace", index=False)
print("dim_customers uploaded")

dim_sellers.to_sql("dim_sellers", con=engine, if_exists="replace", index=False)
print("dim_sellers uploaded")

dim_products.to_sql("dim_products", con=engine, if_exists="replace", index=False)
print("dim_products uploaded")

# --- Fact Table ---
fact_final.to_sql("fact_orders", con=engine, if_exists="replace", index=False, chunksize=10000)
print("fact_orders uploaded")

print("All tables uploaded successfully to MySQL")

dim_customers uploaded
dim_sellers uploaded
dim_products uploaded
fact_orders uploaded
All tables uploaded successfully to MySQL